<h4>Tabla angular material</h4>


<div mat-dialog-content>
    <form [formGroup]="formulario">
            <div class="row">
                <input class="input" type="text" placeholder="Nombre" formControlName="nombre" id="inputName">
                <p class="campoValido" *ngIf="formulario.controls['nombre'].dirty && formulario.controls['nombre'].valid">Campo correcto</p>
                <p class="campoInvalido" *ngIf="formulario.controls['nombre'].dirty && formulario.controls['nombre'].errors?.['pattern']">Formato incorrecto</p>
                <p class="campoInvalido" *ngIf="formulario.controls['nombre'].dirty && formulario.controls['nombre'].errors?.['required']">Este campo no puede estar vacio</p>
            </div>

            <div class="row">
                <input class="input" type="text" placeholder="Apellido" formControlName="apellido">
                <p class="campoValido" *ngIf="formulario.controls['apellido'].dirty && formulario.controls['apellido'].valid">Campo correcto</p>
                <p class="campoInvalido" *ngIf="formulario.controls['apellido'].dirty && formulario.controls['apellido'].errors?.['pattern']">Formato incorrecto</p>
                <p class="campoInvalido" *ngIf="formulario.controls['apellido'].dirty && formulario.controls['apellido'].errors?.['required']">Este campo no puede estar vacio</p>
            </div>

            <div class="row">
                <input class="input" type="text" placeholder="Curso" formControlName="curso">
                <p class="campoValido" *ngIf="formulario.controls['curso'].dirty && formulario.controls['curso'].valid">Campo correcto</p>
                <p class="campoInvalido" *ngIf="formulario.controls['curso'].dirty && formulario.controls['curso'].errors?.['pattern']">Formato incorrecto</p>
                <p class="campoInvalido" *ngIf="formulario.controls['curso'].dirty && formulario.controls['curso'].errors?.['required']">Este campo no puede estar vacio</p>
        
            </div>

            <div class="row">
                <input class="input" type="text" placeholder="Profesor" formControlName="profesor">
                <p class="campoValido" *ngIf="formulario.controls['profesor'].dirty && formulario.controls['profesor'].valid">Campo correcto</p>
                <p class="campoInvalido" *ngIf="formulario.controls['profesor'].dirty && formulario.controls['profesor'].errors?.['pattern']">Formato incorrecto</p>
                <p class="campoInvalido" *ngIf="formulario.controls['profesor'].dirty && formulario.controls['profesor'].errors?.['required']">Este campo no puede estar vacio</p>
        
            </div>
    </form>

    <div class="buttons">
        <button class="inputBtn" type="submit" (click)="addStudent()">New student</button>
    </div>

</div>

<!-- -->



<table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef appDirectivaFuente>Student Name</th>
        <td mat-cell *matCellDef="let element">{{element.alumnoInfo | formatoNombre: element.alumnoInfo.nombre : element.alumnoInfo.apellido }}</td>
    </ng-container>

    <ng-container matColumnDef="curso">
        <th mat-header-cell *matHeaderCellDef appDirectivaFuente>Curse Name</th>
        <td mat-cell *matCellDef="let element">{{element.curso}}</td>
    </ng-container>

    <ng-container matColumnDef="profesor">
        <th mat-header-cell *matHeaderCellDef appDirectivaFuente>Teacher Name</th>
        <td mat-cell *matCellDef="let element">{{element.profesor}}</td>
    </ng-container>

    <ng-container matColumnDef="acciones">
        
        <th mat-header-cell *matHeaderCellDef appDirectivaFuente>Acciones</th>
        
        <td mat-cell *matCellDef="let element">
            <button mat-button color="primary" (click)="abrirModal(element)">Edit</button>
            <button mat-button color="warn" (click)="remove()">Remove</button>
        </td>
    </ng-container>
    

    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas"></tr>

</table>

<div class="row">
    <mat-form-field>
        <mat-label>
            Filtrar Cursos
        </mat-label>
        <input type="text" matInput [(ngModel)]="filtro">
    </mat-form-field>
</div>

<div class="container">
    <div class="row">
        <div class="col" *ngFor="let curso of cursos | filtroCursos:filtro">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{curso.nombre}}</mat-card-title>
                    <mat-card-subtitle>{{curso.abierto | pipeTrueFalse }}</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </div>
    </div>
</div>



